.pitanja {
    background-color: var(--main-black)!important;
    padding-bottom: 50px;
}

.pitanja h2 {
    text-align: center;
    margin: 60px;
    padding-top: 50px;
    color: var(--main-white);
}

.accordian {
    max-width: 100%;
    display: block;
    margin: 100 auto;
}

.card {
    box-shadow: 0 0 20px #d4d4d4;
    margin-bottom: 20px;
    width: 100%;
}

.card-header {
    background-color: var(--main-black);
    position: relative;
}

.card-header h3 {
    cursor: pointer;
    color: var(--main-white);
    position: relative;
    margin: 0;
    padding:15px 20px;
}

.card-header span {
    position: absolute;
    right: 20px;
    width: 25px;
    top: 25px;
    height: 25px;
    color: var(--main-white);
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}

.card-body {
    padding: 20px;
    background-color: var(--main-black);
    display: none;
}

.card-body p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: var(--main-white);
    margin: 0;
}

.accordian .card:nth-child(1) .card-body{
    display: block;
   }


  