.sta-uraditi {
    background-color: var(--main-black);
    padding-bottom: 100px;
}

.sta-uraditi h2 {
    text-align: center;
    color: var(--main-white);
    padding-top: 70px;
    padding-bottom: 10px;
}

.sta-uraditi h6 {
    text-align: center;
    color: var(--main-white);
    padding-bottom: 10px;
}

.radnici ul {
    list-style: none;
    margin-left: 0;
    text-indent: -1.1em;
    padding-top: 5%;
}

.radnici li {
    color: var(--main-white);
    font-size: 20px;
    float: left;
    margin: 0;
    padding: 5px;
    display: inline-block;
}