.fotsy {
    margin-top: 10%;
}

.fotsy h2 {
    text-align: start;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10%;
}

.fotsy h3 {
    font-size: 30px;
    font-weight: 700;
    padding-left: 15%;
}

.fotsy li {
    padding-left: 10%;
    list-style: none;
    font-size: 20px;
    padding-top: 5px;
}

.fotsy input {
    padding-left: 0%;
    font-size: 30px;
    border: 0;
    border-bottom: 2px solid black;
}

.newsletter {
    text-align: start;
    padding-left: 0!important;
}