.nav-link a {
    padding-left: 40px;
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    margin-left: 40px;
    color: var(--main-white)!important;
    padding-top: 2%;
}

.nav-item a {
    color: var(--main-white)!important;
}

.navbar-collapse {
    flex-grow: 1!important;
    margin-left: 200px;
    padding-top: 2%;
}

.start-section {
    background-image: url(../img/purple.png);
    background-size: cover;
    padding-bottom: 200px;
    position: relative;
}

.btn-outline-success {
    margin-right: 40px;
    border-radius: 50px;
    padding: 15px 40px;
    color: var(--main-white);
    background-color: var(--second-purple);
    border: 1px solid var(--main-purple);
}

.btn-outline-success:hover {
    background-color: var(--main-purple);
    border: 1px solid var(--second-purple);
}

.first-h1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    float: right;
    padding-top: 10%;
    color: var(--main-white);
    z-index: 999;
}

.first-h1 span {
    color: var(--second-purple);
    z-index: 999;
}

.purple-hotel {
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 600px;
    z-index: 0;
}

/* .start-section img {
    position: absolute;
    left: -10%;
    bottom: 0;
} */

.scroll-btn {
    position: relative;
    left: 40%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: var(--main-purple);
    color: white;
    box-shadow: 20px 10px 20px 9px rgba(0, 0, 0, alpha);
}

.skrol {
    text-decoration: none!important;
    color: var(--main-white);
}

.skrol:hover {
    color: blanchedalmond;
}

@media (max-width: 1200px) {
    .start-section {
        background-image: url(../img/purple.png);
        width: 100vw!important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .purple-hotel {
        position: relative;
        height: 300px;
        z-index: 0;
        left: -10%;
    }
    .first-h1 {
        position: relative;
        font-size: 20px;
        font-weight: 700;
        width: 60%;
        bottom: 70%;
        left: 2%;
        color: var(--main-white);
        z-index: 999;
    }
    .nav-link a {
        padding: 0;
    }
    .navbar {
        background-color: transparent;
    }
    .navbar-brand {
        color: var(--main-white)!important;
        padding-top: 2%;
    }
    .nav-item a {
        color: var(--main-white)!important;
    }
    .navbar-collapse {
        flex-grow: 1!important;
        padding-top: 2%;
    }
    .btn-outline-success {
        margin-right: 0px;
        border-radius: 50px;
        padding: 10px 20px;
        color: var(--main-white);
        background-color: var(--second-purple);
        border: 1px solid var(--main-purple);
    }
    .scroll-btn {
        position: relative;
        top: -40%;
        left: 20%;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: var(--main-purple);
        color: white;
        box-shadow: 20px 10px 20px 9px rgba(0, 0, 0, alpha);
    }
}