.sponzori {
    padding-top: 5%;
    background-color: whitesmoke;
    padding-bottom: 4%;
}

.vvs {
    display: block;
    margin: auto;
}

.vvsz {
    display: block;
    margin: auto;
}

.txt-sponzor {
    text-align: center;
    padding: 30px;
}

@media(max-width:1200px) {
    .vvs {
        display: block;
        margin: auto;
        margin-top: 2%;
    }
    .pola {
        width: 50%;
    }
}